@font-face {font-family: Caveat;
    src: url(fonts/Caveat-VariableFont_wght.ttf);}

body {
    background-color: #666;
    color: #fff;
    font-family: "Fira Sans", serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {font-family: Caveat, sans-serif;
    font-size: 60px;}

h2 {font-size: 60px;}

ul{list-style: none;
    margin-left: -40px}

article {width: 600px;}
footer {margin-left: 15px;}
a:link {color: white;}/* unvisited link */
a:visited {color: white;}/* visited link */
a:hover {color: black;}/* mouse over link */
a:active {color: blue;}/* selected link */
#margin-left{margin-left: 15px}

.gallery {margin: 2px;
    border: 2px solid #111;
    background-color: #444;
    float: left;
    width: 200px;
    height: 200px;}
.gallery:hover {border: 2px solid whitesmoke;
    background-color: #222;}
.gallery img {width: 80%;
    height: 80%;
    margin: 5px;}
.desc-gallery {padding: 5px;
    text-align: center;
    color: white;}

/* top navbar */
ol {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;}

.topnav {float: left;
    padding: 14px 16px;
    text-decoration: none;}
.topnav:hover {background-color: #aaa;
    color: #fff;}
.active {float: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #aaa;}
.active-icon {float: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #aaa;}
/* end top navbar */